{% extends "base.html" %}

{% block content %}
<h1>Create Question</h1>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        {{ form.title.label_tag }}
        {{ form.title }}
    </div>

    <div class="mb-3">

        {{ form.description }}
    </div>

<div class="mb-4">

    <a class="btn btn-outline-secondary"
       href="{% url 'download_quiz_csv_template' %}">

        Download CSV Template

    </a>

</div>
    <button class="btn btn-dark">
        Create Quiz
    </button>
</form>
<br>
<a class="btn btn-dark" href="{% url 'dashboard' %}">Back to Dashboard</a>
{% endblock %}