{% extends "base.html" %}

{% block content %}

    <br>

    {% if question %}
        <h1>{{ question.question_text }}</h1>
        <br>
        <form method="post" action="{{ submit_url }}">
            {% csrf_token %}

            {% if question.is_short_answer %}

                <div class="mb-3">
                    {{ short_answer_form.text_answer }}

                    {% for error in short_answer_form.text_answer.errors %}
                        <div class="text-danger small mt-1">{{ error }}</div>
                    {% endfor %}
                </div>

            {% else %}

                <p>
                    <label>
                        <input type="radio" name="selected_option" value="A" required>
                        A. {{ question.option_a }}
                    </label>
                </p>

                <p>
                    <label>
                        <input type="radio" name="selected_option" value="B">
                        B. {{ question.option_b }}
                    </label>
                </p>

                {% if question.option_c %}
                    <p>
                        <label>
                            <input type="radio" name="selected_option" value="C">
                            C. {{ question.option_c }}
                        </label>
                    </p>
                {% endif %}

                {% if question.option_d %}
                    <p>
                        <label>
                            <input type="radio" name="selected_option" value="D">
                            D. {{ question.option_d }}
                        </label>
                    </p>
                {% endif %}

            {% endif %}

            <button type="submit" class="btn btn-outline-success">Submit Answer</button>
        </form>
    {% else %}
        <p>No active question right now.</p>
    {% endif %}
{% endblock %}
